<template id="tmpl-tile-gallery">
  <article class="tile tile--gallery">
    <figure class="tile__media">
      <a href="#" data-tile-cover-link>
        <img data-tile-image alt="" loading="lazy" decoding="async" />
      </a>
      <figcaption class="visually-hidden" data-tile-caption></figcaption>
    </figure>
    <div class="tile__content">
      <div class="tile__meta">
        <span data-tile-count></span>
        <span data-tile-tags></span>
      </div>
      <h3 class="tile__title">
        <a href="#" data-tile-link></a>
      </h3>
    </div>
  </article>
</template>
